@import 'variables';
@import 'mixins';

.active-route {
    color: $red;
}

:host {
    background-color: $blue;
    min-height: 6rem;
    display: flex;
    align-items: center;
    box-shadow: $shadow-sm;
}

header {
    padding: 0 3rem;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    #left-header {
        display: flex;
        align-items: center;
    }

    a:hover, button:hover {
        color: $red;
    }
}

#logo {
    display: flex;
    align-items: center;
    img {
        width: 5rem;
        margin-right: .8rem;
    }
}

#nav {
    margin-left: 5rem;
    display: none;
    @include laptop {
        display: flex;
    }
    :first-child {
        margin-right: 1.6rem;
    }
}

#login {    
    display: none;
    @include laptop {
        display: block;
    }
    :first-child {
        margin-right: 1.6rem;
    }
}

#mobile-menu-button {
    display: flex;
    align-items: center;
    @include laptop {
        display: none;
    }
}