<header class="container-md">
    <div id="left-header">
        <a class="no-link-style" id="logo" routerLink="/">
            <img
            width="40" alt="Angular Logo"
            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
            />
            <span>Blog</span>
        </a>
        <nav id="nav">
            <a class="no-link-style" routerLink="/" routerLinkActive="active-route" [routerLinkActiveOptions]="{exact: true}">Home</a>
            <app-categories-menu></app-categories-menu>
        </nav>
    </div>

    <nav *ngIf="!(isLogged$ | async)" id="login">
        <a class="no-link-style" routerLink="/login" routerLinkActive="active-route">Login</a>
        <a class="no-link-style" routerLink="/signup" routerLinkActive="active-route">Signup</a>
    </nav>

    <div *ngIf="isLogged$ | async">
        <app-profile-menu [name]="name" [avatar]="avatar"></app-profile-menu>
    </div>

    <button type="button" id="mobile-menu-button" class="no-button-style" (click)="showMobileMenu()">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="36" height="36" viewBox="0 0 24 24" stroke-width="3" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <line x1="4" y1="6" x2="20" y2="6" />
            <line x1="4" y1="12" x2="20" y2="12" />
            <line x1="4" y1="18" x2="20" y2="18" />
        </svg>
    </button>
</header>

<app-mobilemenu *ngIf="mobileMenu" (closeMobileMenu)="closeMobileMenu($event)"></app-mobilemenu>