<main class="auth-form">
    <div class="title"><h1>Forgot Password?</h1></div>
    <form [formGroup]="form">       
        
        <div class="field instructions">
            <p>Enter your login email address and you will receive an email with a link to reset your password.</p>
        </div>

        <div class="field">
            <div class="input">
                <input formControlName="email" type="email" placeholder="E-mail">
                <div class="icon">
                    <svg #svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                        <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                      </svg>
                </div>
            </div>
            <app-forms-error-msg [control]="email"></app-forms-error-msg>
        </div><!--field-->

        <p *ngIf="errorMsg && form.invalid" class="invalid-email">{{errorMsg}}</p>
        <p *ngIf="emailSent" class="email-sent">Email sent, check your inbox!</p>

        <input type="submit" class="btn-1 centered" value="Send Recovery Email" (click)="onSubmit()" [disabled]="(form.statusChanges | async) !== 'VALID'">
    </form>
</main>
<div class="links">
    <a routerLink="/login" class="btn-2">Log In</a>
    <a routerLink="/signup" class="btn-2">Sign Up</a>
</div>