@import 'variables';
@import 'mixins';

:host {
    flex: 1;
}

h1 {
    text-align: center;
    color: $blue;
    font-weight: 400;
    margin: 0;
    margin-bottom: 3.5rem;
}

main {
    background-color: $white;
    box-shadow: $shadow;
    border-radius: 0 0 2rem 2rem;
    padding: 4rem 3rem;
}

#posts-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2.5rem;
    @include tablet {
        grid-template-columns: repeat(2, 1fr);
    }
    @include laptop {
        grid-template-columns: repeat(3, 1fr);
    }

    .post {
        background-color: $blue-light-trans;
        background: radial-gradient(farthest-corner at 4rem 20rem, $blue-light-trans 0%, $white 120%);
        border-radius: 1rem;
    
        overflow: hidden;
        #h {
            margin: 2rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 40px; //dots
            color: $blue; //dots
            h3 {
                margin: 0;
                font-weight: 400;
                color: $blue;
                display: inline;
            }
        }
    
        
        figure {
            margin: 0 auto;
            padding: 2rem;
            border-top: 2px solid $blue-light;
            border-bottom: 2px solid $blue-light;
        }
        a {
            margin: 2rem 2rem 2rem auto;
        }
    }
}

#pagination {
    display: flex;
    justify-content: center;
    margin: 4rem auto 0 auto;

    .btn-2:hover, .btn-2.active {
        background-color: $blue;
        color: $white;
        &.disabled {
            color: $grey;
            background-color: transparent;
        }
    }
    a:not(:last-of-type) {
        margin-right: 2rem;
    }

    flex-wrap: wrap;
    max-width: 26rem;

    :first-child {
        order: 1;
        margin-top: 2.5rem;
    }
    :last-child {
        order: 2;
        margin-top: 2.5rem;
    }
    a:nth-child(4) {
        margin-right: 0;
    }

    @include tablet {
        max-width: 100%;
        :first-child {
            order: 0;
            margin-top: 0;
        }
        :last-child {
            margin-top: 0;
        }
        a:nth-child(4) {
            margin-right: 2rem;
        }
    }
}