@import 'variables';
@import 'mixins';

:host {
    flex: 1;
}

#content {    
    background-color: $white;
    box-shadow: $shadow;
    border-radius: 0 0 2rem 2rem;
    padding: 4rem;

    h1 {
        margin: 0 0 1.2rem 0;
        font-weight: 400;
        color: $blue;
        overflow-wrap: anywhere;
    }

    #actions {
        border-top: 3px solid $blue-light;
        border-bottom: 3px solid $blue-light;
        padding: .8rem 0 .8rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        @include laptop {
            flex-direction: row;
            align-items: center;
        }
    }

    #info {
        display: flex;
        align-items: center;
        p{
            font-size: 17px;
            margin: 0;
        }
        #author {
            margin-left: 1rem;
            margin-right: 2.5rem;
            padding-right: 2.5rem;
            border-right: 3px solid $blue-light;
            color: $blue;
            overflow-wrap: anywhere;
        }
        a {
            color: $orange;
        }
    }

    #buttons {
        display: flex;
        align-items: center;

        padding-top: 1rem;
        margin-top: 1rem;
        border-top: 1px solid $blue-light;
        @include laptop {
            padding-top: 0;
            margin-top: 0;
            border-top: none;
        }
    }

    #edit-post {
        border-color: $orange;
        color: $orange;
    }
    #delete-post {
        margin-left: 2rem;
        border-color: $red;
        color: $red;
    }

    figure {
        margin: 4rem auto;
    }
    img {
        max-height: 40rem;
        width: auto;
        max-width: 100%;
        margin: 0 auto;
    }
}

#post-content {
    overflow-wrap: anywhere;
}