<main class="form">
    <div class="title"><h1>Sign Up</h1></div>
    <form [formGroup]="form">
        <div class="field">
            <div class="input">
                <input formControlName="email" type="email" placeholder="E-mail" >
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                        <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                      </svg>
                </div>
            </div>
            <app-forms-error-msg [control]="email"></app-forms-error-msg>
            <span class="pending-msg" *ngIf="(email.statusChanges | async) === 'PENDING'">Checking availability...</span>
        </div><!--field-->

        <div class="field">
            <div class="input">
                <input formControlName="name" type="text" placeholder="Username">
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
                      </svg>
                </div>
            </div>
            <app-forms-error-msg [control]="name"></app-forms-error-msg>
            <span class="pending-msg" *ngIf="(name.statusChanges | async) === 'PENDING'">Checking availability...</span>
        </div><!--field-->

        <div [formGroup]="passwordsGroup">
            <div class="field">
                <div class="input">
                    <input formControlName="password" type="password" placeholder="Password">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                          </svg>
                    </div>
                </div>
                <app-forms-error-msg [control]="password"></app-forms-error-msg>
            </div><!--field-->
            
            <div class="field">
                <div class="input" [appPasswordConfirmationError]="passwordsGroup">
                    <input formControlName="password_confirmation" type="password" placeholder="Repeat your password">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                          </svg>
                    </div>
                </div>
                <app-forms-error-msg [control]="passwordsGroup"></app-forms-error-msg>
            </div><!--field-->
        </div>

        <input type="submit" class="btn-1 centered" value="Sign Up" (click)="onSubmit()" [disabled]="(form.statusChanges | async) !== 'VALID'">
    </form>
</main>
<div class="links">
    <a routerLink="/login" class="btn-2">Log In</a>
    <a routerLink="/password/forgot" class="btn-2">Forgot Password?</a>
</div>