@import 'variables';

angular-editor {
    width: 100%;
}

#image-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.5rem;
    height: 100%;

    .field {
        flex: 3;
        margin: 0 2rem 0 0;
    }
    figure {
        margin: 0;
        flex: 2;
        background-color: $blue-light-inputs;
        figcaption {
            text-align: center;
            color: $blue-light;
        }
    }
}

#back {
    margin-bottom: 3.5rem;
}