@import 'variables';

:host {
    display: flex;
    width: 100%;
}

.form {
    width: 100%;
}

form .links {
    display: flex;
    justify-content: space-between;
    margin-top: 3.5rem;
    padding-top: 3.5rem;
    border-top: 1px solid $blue-light;
}