@import 'variables';
@import 'mixins';

.form {
    background-color: $white;
    border-radius: 0 0 2rem 2rem;
    box-shadow: $shadow;

    .title {
        h1{
            text-align: center;
            margin: 0;
            padding: .5rem;
            color: $white;
            font-weight: 500;
        }
        background: $blue-trans;
        background: radial-gradient(farthest-corner at 90px 36px, $blue-trans 0%, $white 160%);
        &.delete-user {
            background: $red;
            background: radial-gradient(farthest-corner at 90px 36px, $red 0%, $white 160%);
        }
    }

    form {        
        padding: 3.5rem;

        fieldset {
            margin: 0;
            padding: 0;
            border: none;
        }

        .field {
            margin-bottom: 3.5rem;
        }
        .input {
            display: flex;
            align-items: center;
            border: 1px solid $blue-light;
            background-color: $blue-light-inputs;
            margin-bottom: .5rem;

            &.error {
                border-color: $red;
                input::placeholder { color: $red; }
                svg { fill: $red; }
            }

            &.readony {
                border-color: $grey;
                background-color: lighten($grey-light, 10%);
                input {
                    color: $grey;
                    pointer-events: none;
                }
                svg {
                    fill: $grey;
                }
            }

            &.image {
                position: relative;
                overflow: hidden;
                input {
                    opacity: 0;
                    height: 8rem;
                }
                span {
                    position: absolute;
                    top: 50;
                    width: 100%;
                    text-align: center;
                    color: $blue-light;
                }
                &.error {
                    span {
                        color: $red;
                    }
                }
            }
        }
        .pending-msg {
            font-size: 16px;
            color: $grey;
        }
        input:not([type="submit"]), textarea, select {
            border: none;
            outline: none;
            width: 100%;
            background-color: transparent;
            padding: 1rem;

            &::placeholder {
                color: $blue-light;
            }
        }
        textarea {
            resize: vertical;
            height: 8rem;
        }
        label {
            color: $blue-light;
        }
        select {
            color: $black1;         
            option {
                color: $blue;   
                background-color: $blue-light-inputs;
            }
        }
            
        .icon {
            padding: 0 1rem;
        }
        svg {
            width: 2rem;
            fill: $blue-light;
        }
    }
}

/* typo */
form {
    span {
        color: $red;
        font-size: 14px;
    }

    input:not([type="submit"]), textarea, label, select {
        font-size: 1.8rem;
        &::placeholder {
            font-size: 1.8rem;
        }
    }

    .input.image span {
        font-size: 18px;
    }
}