.container {
    margin: 0 auto;
    padding: 4rem 0;
    max-width: 1200px;
    width: 98%;
}
.container-md {
    @extend .container;
    max-width: 1000px;
}
.container-sm {
    @extend .container;
    max-width: 650px;
}

.centered {margin: 0 auto;}
.db {display: block;}
.no-scroll {
    overflow: hidden !important;
}
.no-list-style {
    margin: 0;
    padding: 0;
    list-style: none;
}
.no-link-style {
    text-decoration: none;
    color: inherit;
}

.text-center {text-align: center;}
.ucase {
    text-transform: uppercase;
}

.hidden {
    display: none !important;
}
.invisible {
    visibility: hidden !important;
}
.transparent {
    opacity: 0 !important;
}


/* BUTTONS */
.btn-1 {
    background: $blue-trans;
    background: radial-gradient(farthest-corner at 30px 36px, $blue-trans 0%, $white 180%);
    border: none;
    color: $white;
    padding: 8px 16px;
    display: block;
    width:fit-content;
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        background: radial-gradient(farthest-corner at 80px 15px, darken($blue-trans, 10) 0%, darken($white, 10) 180%);
        box-shadow: $shadow-sm;
    }

    &:disabled {
        background: $grey;
        background: radial-gradient(farthest-corner at 30px 36px, $grey 0%, $white 180%);
        cursor: unset;
        &:hover {            
            box-shadow: none;
        }
    }
}

.btn-2 {
    background: $pageBg;
    border: 2px solid $blue;
    color: $blue;
    border-radius: 12px;
    white-space: nowrap;
    padding: 8px 16px;
    display: block;
    width:fit-content;
    font-size: 1.8rem;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        box-shadow: $shadow-sm;
    }

    // &:disabled {
    //     background: $grey;
    //     background: radial-gradient(farthest-corner at 30px 36px, $grey 0%, $white 180%);
    //     cursor: unset;
    //     &:hover {            
    //         box-shadow: none;
    //     }
    // }
}