$black1: rgb(25 25 25);
$grey-light: rgb(215, 215, 215);
$grey: rgb(153, 153, 153);
$white: white;

$pageBg: #d7dce5;
$blue: rgb(46, 123, 255);
$blue-trans: #2e7bffcc;
$blue-light-trans: rgba(46, 123, 255, 0.25);
$blue-light: #94BBFF;
$blue-light-inputs: #F6FAFF;

$orange: #ffad6e;
$red: #ff6e7d;

$shadow: 6px 6px 18px rgb(0,0,0,0.35);
$shadow-sm: 3px 3px 8px rgb(0,0,0,0.35);